* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    background-color: hsl(212, 45%, 89%);
}
.container {
    margin: auto;
    margin-top: 140px;
    width: 320px;
    text-align: center;
    border: 40px solid hsl(0, 0%, 100%);
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);

}
img {
    width: 240px;
    border-radius: 10px;
}
.text1 {
    margin-top: 25px;
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}
.text {
    margin-top: 25px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}
@media screen and (max-width:375px) {
    .container {
        display: block;
        position: relative;
    }
}
@media screen and (max-width:1440px) {
    .container {
        display: block;
        position: relative;
    }
}